<h1>Log in</h1>

<form action="/logIn" method="post">

<div>
<label for="emailInput">Email</label>
</div>

<div>
<input type="email" name="email" id="emailInput" />
</div>
<br>

<div>
<label for="passwordInput">Password</label>
</div>
<div>
<input type="password" name="password" id="passwordInput" />
</div>
<br>
<button type="submit">Log in</button>

</form>