<h1>Sign Up</h1>

<form action="/singUp" method="post">

  <div>
    <label for="emailInput">Email</label>
  </div>

  <div>
    <input type="email" name="email" id="emailInput" />
  </div>

  <br/>

  <div>
    <label for="passwordInput">Password</label>
  </div>
  <div>
    <input type="password" name="password" id="passwordInput" />
  </div>
  
  <br/>
  <button type="submit">Sing up!</button>

</form>